<!DOCTYPE html>
<html lang="en" style="overflow: scroll !important">
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" charset="UTF-8">
    <title>完善信息</title>
    <link href="../../css/common/wyn.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/common.css?100" rel="stylesheet" type="text/css">
    <link href="../../css/doctor/my-invitation.css" rel="stylesheet" type="text/css">
    <link href="../../css/doctor/doc-message.css" rel="stylesheet" type="text/css">
    <script src="../../js/common/zpto.js" type="text/javascript"></script>
    <script src="../../js/common/wyn-plugin-library.js?100" type="text/javascript"></script>
    <script src="../../js/common/common.js" type="text/javascript"></script>
    <script src="../../js/common/vue.js" type="text/javascript"></script>
    <script src="../../js/common/mobileFix.mini.js"></script>
    <script src="../../js/common/exif.js"></script>
    <script src="../../js/common/lrz.js"></script>
    <script src="../../js/doctor/doc-message.js"></script>
</head>
<script>
    wyn.init.page()
</script>
<body>
<div class="my-message-box perfect-message-box">
    <div class="edit-text-box" :class="{show : Input}" @touchmove.prevent="">
        <p>{{inputPopText}}</p>
        <label><textarea v-focus="Input" id="inputBox" maxlength="25" :placeholder="placeholderText" v-model.lazy="docDatas.speciality"></textarea></label>
        <div class="btn-submit">
            <button type="button" class="btn-bottom doc-bc bor-radius-0" @click.prevent="inputPost"
                    name="edit-submit">完成
            </button>
        </div>
    </div>
    <form>
        <div class="icon-go input-head">
            <p>头像</p>
            <s><img data-name="avatar" style="display:block" :style="avatarStyle"
                    :src="!!!docDatas.avatar?'../../images/common/user-info-default-head.png':docDatas.avatar"></s>
            <input @change="upImg($event,'avatar')" name="doc-head" accept="image/jpg,image/jpeg,image/png,image/gif"
                   type="file">
        </div>
        <ul class="input-form-box">
            <li class="input-text webkitBox perfect-message-name">
                <p>姓名</p>
                <label><input type="button" v-model="docDatas.name"></label>
            </li>
            <li class="input-text webkitBox perfect-message-name">
                <p>注册电话</p>
                <label><input type="button" v-model="docDatas.phone"></label>
            </li>
            <li class="input-text webkitBox perfect-message-sex">
                <p>性别</p>
                <label>
                    <input name="doc-sex" type="button" :value="docDatas.sex|sex">
                </label>
            </li>
            <li class="input-text webkitBox perfect-message-hospital">
                <p>医院</p>
                <label>
                    <input name="doc-hospital" type="button" v-model="docDatas.hospital">
                </label>
                <!--<span class="icon-go"></span>-->
            </li>
            <li class="input-text webkitBox perfect-message-office">
                <p>科室</p>
                <label>
                    <input name="doc-office" type="button" v-model="docDatas.department">
                </label>
                <!--<span class="icon-go"></span>-->
            </li>
            <li class="input-text webkitBox perfect-message-title">
                <p>职称</p>
                <label>
                    <input name="doc-title" type="button" v-model="docDatas.title">
                </label>
                <!--<span class="icon-go"></span>-->
            </li>
            <li class="input-text webkitBox perfect-message-speciality"
                @click.prevent="showInput('input','专科擅长','请填写专科擅长')">
                <p>专科擅长</p>
                <label>
                    <input style="font-size:16px" type="button" v-if="!!!docDatas.speciality" value="请填写专科擅长">
                    <input v-else class="no-wrap c-47" name="doc-speciality" style="font-size:16px"
                           type="button" v-model.trim="docDatas.speciality">
                </label>
                <span class="icon-go"></span>
            </li>
        </ul>
        <ul>
            <li class="doc-warn-text">
                <i class="c-9-14">以下内容仅供平台审核，＊为必填项。</i>
            </li>
        </ul>
        <div class="icon-go input-head doc-chest-card">
            <p>胸牌<i class="mar-l-15 c-8833-14">*</i></p>
            <s><img data-name="cert_card" :style="cert_cardStyle" width="100%"
                    :src="!!docDatas.cert_card?docDatas.cert_card:'../../images/doctor/doc-card-bg.png'"/></s>
            <input @change="upImg($event,'cert_card')" name="doc-head"
                   accept="image/jpg,image/jpeg,image/png,image/gif" type="file">
        </div>
        <div class="icon-go input-head doc-jobs-card">
            <p>执业证书</p>
            <s><img data-name="job_card" :style="job_cardStyle"
                    :src="!!docDatas.job_card?docDatas.job_card:'../../images/doctor/doc-card-bg.png'"/></s>
            <input @change="upImg($event,'job_card')" name="doc-head" accept="image/jpg,image/jpeg,image/png,image/gif"
                   type="file">
        </div>
        <div class="btn-submit">
            <button @click="save" :disabled="!isPsot" class="btn-bottom doc-bc bor-radius-0" type="button">提交</button>
        </div>
    </form>
</div>
</body>
<style>
    .edit-text-box textarea{
        background-color: #fff;
        display: block;
        width: 100%;
        padding: .12rem;
        font-size: .16rem;
        height: .56rem;
        box-sizing: border-box;
    }
</style>
</html>